
#title{
    color:black;
    font-family: 'Lemonada', cursive;
}

.connectButtons{
    top:20%;
    align-items:center;
    display:flex;
    
    justify-content:center;
    padding:8px;
    
}
.linkedInButton{
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    width: 50px;
    height:50px;
    margin: 0;
    top: 50%;
    
    cursor: pointer;
    /* transform: translateY(-20%); */
}

.instagramButton{
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    width: 48px;
    height:48px;
    margin: 0;
    top: 50%;
    
    /* transform: translateY(-20%); */
}
.facebookButton{
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    width: 50px;
    height:50px;
    margin: 0;
    top: 50%;
    
    /* transform: translateY(-20%); */
}
.githubButton{
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    width: 50px;
    height:50px;
    margin: 0;
    top: 50%;
    
    /* transform: translateY(-20%); */
}


#menuItem a {
    
    color: black;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: small;
  }
  
#aItem:hover {
    color:rgb(170, 177, 107);
    text-decoration: none;
} 
/* #bars{
    color:transparent;
} */

#aboutHeading{
    font-family:'Lemonada', cursive;
    color:black;
}
#SubHeading{
    font-family:'Lemonada', cursive;
    color:black;
    font-size-adjust: inherit;
}
  
.aboutClass{
    width: 100%;
    background-color: #D5CED7;
}
#aboutText{
    
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top:25px;
}
#aboutPhoto{
    padding:15px;
   
}
.headings{
    font-family:'Lemonada', cursive;
    color:black;
    font-size: x-large;
    
}
#grid {
    max-width:90%;
    margin:0 auto; 
    padding:0;
    font-size:0; 
    list-style:none;
    background-color:#3A3030;
}

.cell {
    display:block;
    position: relative;
    overflow:hidden;
    width: 100%;
}

.cell-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#grid li:hover .cell-img {
    transform:scale(1.05);
}

.cell-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color:rgb(165, 158, 158) ;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#grid li:hover .cell-overlay {
    opacity:0.8;
}

/* If have captions */
.cell-text {
    display:block;
    padding:5px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    text-align:center;
    font-size:14px;
    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    color:black;
    opacity:0;
    transition:all .3s;
}
#grid li:hover .cell-text {
    transform:translateY(0px);
    opacity:0.7;
}
.viewPaper{
    background-color: rgb(53, 41, 61);
    
    border-color: transparent;
    font-family: 'Quicksand', sans-serif ;
    color:white;
    margin-top: 3px;
}
.viewPaper:hover {
    background-color: rgb(129, 98, 129);
}



.chart {
    position:relative;
    display: inline-block;
    /* margin:5px;
    width:20%; 
    height:20%; */
}
.chart2 {
    position:relative;
    display:inline-block;
    /* margin:5px;
    width:20%; 
    height:20%; */
}
.chart3 {
    position:relative;
    display:inline-block;
    margin:5px;
    width:20%; 
    height:20%;
}
.chart4 {
    position:relative;
    display:inline-block;
    margin:5px;
    width:20%; 
    height:20%;
}
.chart5 {
    position:relative;
    display:inline-block;
    margin:5px;
    width:20%; 
    height:20%;
}
.chart6 {
    position:relative;
    display:inline-block;
    margin:5px;
    width:20%; 
    height:20%;
}
.chart7 {
    position:relative;
    display:inline-block;
    margin:5px;
    width:20%; 
    height:20%;
}


#contactme{
    align-items:center;
    display:inline-block;
    position: relative;
    justify-content:center;
    padding:20px;
    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    color:black;
    font-size: medium;
    width: 100%;
    background-color: rgb(165, 158, 158) ;
}
#email{
    background-color: rgb(165, 158, 158) ;
    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    color:black;
    font-size: medium;
    align-items:center;
    display:flex;
    position: relative;
    justify-content:center;
}
#sequence{
    color:black;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: large;
}
