
/*Navigation Bar*/
#menuItem a {
    color: black;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: small;
}
  
#aItem:hover {
    color:rgb(170, 177, 107);
    text-decoration: none;
} 


/*Banner*/
h3.typewriter {
    border-right: solid 3px;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Lemonada', cursive;
    letter-spacing: 1.5px;
    animation: animated-text 2s steps(28, end) 1s 1 normal both,
    animated-cursor 600ms steps(28, end) infinite;
}
  
@keyframes animated-text {
    from { width: 0; }
    to { width: 430px; }
}

@media screen and (max-width: 500px) {
    @keyframes animated-text {
        from { width: 0; }
        to { width: 430px; }
    }
}

@keyframes animated-cursor{
    from { border-right-color: var(--primary-color); }
    to  {border-right-color: transparent; }
}
 
#title{
    color:black;
    font-family: 'Lemonada', cursive;
}

/*About Section*/
#aboutHeading{
    font-family:'Lemonada', cursive;
    color:black;
}
#SubHeading{
    font-family:'Lemonada', cursive;
    color:black;
    font-size-adjust: inherit;
}
  
.aboutClass{
    width: 100%;
    background-color: #D5CED7;
}
#aboutText{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top:25px;
}
#aboutPhoto{
    padding:15px;
   
}
.headings{
    font-family:'Lemonada', cursive;
    color:black;
    font-size: x-large;
    
}

/*Experience*/
.coverImg {
    width: 95%;
    border-color: #c2c2b0;
    border-style: solid;
    border-width: 1px;
    max-width: 200px;
}  
.fancybox{
    color:black;
    font-family: 'Quicksand', sans-serif;
}
.fancybox2{
    color:black;
    font-family: 'Quicksand', sans-serif;
}
.fancybox3{
    color:black;
    font-family: 'Quicksand', sans-serif;
}
.fancybox4{
    color:black;
    font-family: 'Quicksand', sans-serif;
}
.expDetails{
    color:black;
    font-family: 'Quicksand', sans-serif;
}
.expTd{
    text-align: center; 
    width: 25%;
}
.popup{
    text-align: justify; 
    width: 95%;
}
.detailImg{
    border: 1px solid #c2c2b0; 
    padding: 1;
}
.fancyDiv{
    margin: auto;
    width: 402px;
}
.expTable{
    width: 95%; 
    margin: auto;
}
.footnote{
    font-size: 1.2em;
    color:black;
    font-family: 'Quicksand', sans-serif;
}
.caption{
    text-align: center; 
    font-size: 0.8em;
    color:black;
    font-family: 'Quicksand', sans-serif;
}

/* Skills */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    background-color: transparent;
}
.grid-item {
    background-color: transparent;
    font-size: 30px;
    text-align: center;
}
#skillButton{
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    padding:10px;
}
#skillButton:hover{
    background: #D5CED7;
}

/*Contact*/
.connectButtons{
    top:20%;
    align-items:center;
    display:flex;
    
    justify-content:center;
    padding:8px;
    
}
.linkedInButton{
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    width: 50px;
    height:50px;
    margin: 0;
    top: 50%;
    cursor: pointer;
}

.instagramButton{
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    width: 48px;
    height:48px;
    margin: 0;
    top: 50%;
}
.facebookButton{
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    width: 50px;
    height:50px;
    margin: 0;
    top: 50%;
}
.githubButton{
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    width: 50px;
    height:50px;
    margin: 0;
    top: 50%;
}
#contactme{
    align-items:center;
    display:inline-block;
    position: relative;
    justify-content:center;
    padding:20px;
    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    color:black;
    font-size: medium;
    width: 100%;
    background-color: rgb(165, 158, 158) ;
}
#email{
    background-color: rgb(165, 158, 158) ;
    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    color:black;
    font-size: medium;
    align-items:center;
    display:flex;
    position: relative;
    justify-content:center;
}
#sequence{
    color:black;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: large;
}
