body, html {
    height: 100%;
}

/* The hero image */
.banner-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image:  url("../img/introbanner.jpg");

  /* Set a specific height */
  height: 50%;
  opacity: 0.8;
  /* Position and center the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.nameText{
    color: black;
    font-family: 'Lemonada', cursive;
    font-size: 60px;
    transform: translate(-50%, -10%);
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    
  
}
.myheadshot{
    padding:5px;
    display:flex;
    align-items:center;
    justify-content:center;
    
    
}
.headshot{
    border-radius:50%;
    width:10%;
    height:10%;
    border: 5px solid #555;
    top:10%;
    padding:5px;
    opacity: 1.0;
}
.connectButtons{
    top:20%;
    align-items:center;
    display:flex;
    position: relative;
    justify-content:center;
    padding:0px;
    
}
.linkedInButton{
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    width: 4%;
    height:4%;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    cursor: pointer;
    /* transform: translateY(-20%); */
}

.instagramButton{
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    width: 3.75%;
    height:3.75%;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    /* transform: translateY(-20%); */
}
.facebookButton{
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    width: 4%;
    height:4%;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    /* transform: translateY(-20%); */
}
.githubButton{
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    width: 4%;
    height:4%;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    /* transform: translateY(-20%); */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 6px 12px;
    overflow: hidden;
    background-color: #3A3030;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
    font-family: 'Lemonada', cursive;
    font-size: small;
  }
  
  li a:hover {
    background-color: #111;
    color:lavender;
    text-decoration: none;
  }
.aboutClass{
    width: 100%;
    background-color: #D5CED7;
}
.aboutText{
    width:100%;
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
    padding-right: 8px;
    padding-left: 8px;
}
#myPhoto{
    float: left;
    padding-left: 5px;
    padding-right: 15px;
    width:15%;
   
}
.headings{
    font-family:'Lemonada', cursive;
    color:black;
    font-size: x-large;
    
}
#grid {
    max-width:90%;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#3A3030;
}
#grid li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
        
/* The wrapper for each item */
.cell {
    display:block;
    position: relative;
    overflow:hidden;
}
        
/* If have the image layer */
.cell-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#grid li:hover .cell-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.cell-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color:rgb(165, 158, 158) ;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#grid li:hover .cell-overlay {
    opacity:0.8;
}

/* If have captions */
.cell-text {
    display:block;
    padding:5px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    text-align:center;
    font-size:14px;
    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    color:black;
    opacity:0;
    transition:all .3s;
}
#grid li:hover .cell-text {
    transform:translateY(0px);
    opacity:0.7;
}
.viewPaper{
    background-color: rgb(53, 41, 61);
    
    border-color: transparent;
    font-family: 'Quicksand', sans-serif ;
    color:white;
    margin-top: 3px;
}
.viewPaper:hover {
    background-color: rgb(129, 98, 129);
}

.chart {
    position:relative;
    display: inline-block;
    margin:5px;
    width:20%; 
    height:20%;
}
.chart2 {
    position:relative;
    display:inline-block;
    margin:5px;
    width:20%; 
    height:20%;
}
.chart3 {
    position:relative;
    display:inline-block;
    margin:5px;
    width:20%; 
    height:20%;
}
.chart4 {
    position:relative;
    display:inline-block;
    margin:5px;
    width:20%; 
    height:20%;
}
.chart5 {
    position:relative;
    display:inline-block;
    margin:5px;
    width:20%; 
    height:20%;
}
.chart6 {
    position:relative;
    display:inline-block;
    margin:5px;
    width:20%; 
    height:20%;
}
.chart7 {
    position:relative;
    display:inline-block;
    margin:5px;
    width:20%; 
    height:20%;
}

#contact{
    background-color:#D5CED7 ;
}
#contactme{
    align-items:center;
    display:flex;
    position: relative;
    justify-content:center;
    padding:20px;
    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    color:black;
    font-size: medium;
}
